<div class = "container">
  <div class = "title_wrap">
    <section class = "toc">
      <p>WORK</p>
    </section>
    <section class = "toc">
      <p>DAY</p></section>
    <section class = "toc">
      <p>TASK</p>
    </section>
  </div>
  <div class = "schedule_wrapper">
    <section class = "work">
      <div class="cp_ipselect cp_sl02 work_do">
        <select required>
          <option value="" hidden>Choose</option>
          <option value="1">◯◯</option>
          <option value="2">■■</option>
          <option value="3">△△</option>
          <option value="4">◎◎</option>
        </select>
      </div>
      <div class = "matter">
        <ul>
          <li>今日すること</li>
          <li>this is ◯◯◯</li>
        </ul>
      </div>
    </section>
    <section class = "day">
      <div class="cp_ipselect cp_sl02 day_do">
      <select required>
        <option value="" hidden>Choose</option>
        <option value="1">◯◯</option>
        <option value="2">■■</option>
        <option value="3">△△</option>
        <option value="4">◎◎</option>
      </select>
      </div>
      <div class="matter">
        <ul>
          <li>今日すること</li>
          <li>this is ◯◯◯</li>
        </ul>
      </div>
    </section>
    <section class = "task">
      <div class="cp_ipselect cp_sl02 task_do">
        <select required>
          <option value="" hidden>Choose</option>
          <option value="1">◯◯</option>
          <option value="2">■■</option>
          <option value="3">△△</option>
          <option value="4">◎◎</option>
        </select>
      </div>
      <div class="matter">
        <ul>
          <li>今日すること</li>
          <li>this is ◯◯◯</li>
        </ul>
      </div>
    </section>
  </div>
</div>
