.container_original{
  width:100%;
}
.header{
  width:100vw;
  height:20%;
  display: inline-block;
  margin: 0 0;
  color: black;
  background:#000099;
  display:flex;
  .btn{
    width: 7em;
    background-color:#FFFFFF;
    padding: 0.5em 0.5em;
    margin: 0 0.5em;
  }
}
.title_wrap{
  display:flex;
  .toc{
    height:20%;
    width:calc(100%/3);
    text-align: center;
    padding: 2.0em;
    color: #FFFFFF;
    background-color: #5D99FF;
    border-left: solid 20px #FFFF55;
    p{
      margin: 0;
      padding: 0;
    }
  }
}
.schedule_wrapper{
  display: flex;
  height: 100vh;
  .work{
    background-color: #FFFFEE;
    width:  27%;
    margin-top: 1em;
    margin-left: 2em;
    margin-right:3.5em;
    padding: 1em;
    // width: 90%; /*幅の調節*/
    color: #666666; /*文字色*/
    border: 2px solid #ccc; /*線の太さ・色*/
    border-radius: 8px;

    // margin-right: -10px;
  }
  .day{
    background-color: #FFFFEE;
    width:  27%;
    margin-top: 1em;
    margin-right: 3.5em;
    padding: 1em;
    // width: 90%; /*幅の調節*/
    color: #666666; /*文字色*/
    border: 2px solid #ccc; /*線の太さ・色*/
    border-radius: 8px;

  }
  .task{
    background-color: #FFFFEE;
    width:  27%;
    margin-top: 1em;
    margin-right: 1em;
    padding: 1em;
    // width: 90%; /*幅の調節*/
    color: #666666; /*文字色*/
    border: 2px solid #ccc; /*線の太さ・色*/
    border-radius: 8px;
  }
  p{
    text-align: center;
  }
  .cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl02 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl02::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl02:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid #bbbbbb;
}
.cp_ipselect.cp_sl02 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}
}
